* {margin:0;padding:0;box-sizing:border-box;}
body {
	font-size: 18px;
	font-family: 'Sintony', sans-serif;
}

h1,h2 {
	text-transform: uppercase;
	border-bottom: none;
	color:#19194f;
	display: inline-block;
	font-weight: 800;
} 

h1 {
	font-size: 2.25em;
	padding: 0 0 0 .5em;
}

h2 {
	font-size: 1.5em;
	padding: .8em 0;
}

img {
	display: block;
	margin: 0 auto;
  	width: 1000px;
} 

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li{
  float: left;
  width: 50%;
  height: 6em;
  outline: 3px solid #14143f;
  text-align: center;
  line-height: 6em;
  color: #14143f;
  background:#efefef;
}

nav {
  float:right;
  font-size: 1em;
  color: #e7e56a;
} 

nav a {	
	text-decoration: none;
	color: #e7e56a;
	margin: .5em;
	display: inline-block;
}
section{
  background:#fff;
  color: #19194f;
  overflow: auto;
}
div{
  font-size: 1.2em;
  width: 46%;
  padding: 2%;
  display:inline-block;
}
#hero{
  display: block;
  width:100%;
  margin:0;
  background: #efefef;
}
#about{
	background: #fffebb;
	width:50%;
	float: left;
}
#services{
	background:#e7e56a;
	width:50%;
	float: right;
}

footer {
	background:#fff;
	text-align: center;
	padding: 1em 0;
  	clear: both;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
