body {
	background-color:#fffef8;
	color:#323366;
	font-family: 'Sintony', sans-serif;
	font-size:18px;
	text-align:left;
	
}
h1 {
	color:#db776d;
	font-family:;
	font-size:2em;
}
hr{
	width: 200px;
}
img{
	width:200px;
}
#slogan{
	font-style: italic;
	font-family: 'Vollkorn', serif;
	
}