body {
	background-color:#fffef8;
	color:#323366;
	font-family: 'Sintony', sans-serif;
	font-size:18px;
	text-align:left;	
}
header{
	background-color:#fff;
	height:25vh;
	padding:50px;

}

section#splash div{
	padding:100px;
}
h1 {
	color:#db776d;
	font-family:font-family: 'Vollkorn', serif;
	font-size:2em;
}
hr{
	color:#db776d;
	height:2em;
}
img{
	width:200px;
}
#slogan{
	font-style: normal;
	font-family: 'Vollkorn', serif;
	font-size: 1.69em;	
}